<h1> Create Category</h1>

<div>
    <div>
        <h3 class="widget-heading">Create Category</h3>
        <form
            asp-controller="Category"
            asp-action="Create">
            <div class="mb-2">
                <input type="text"
                       class="form-control" name="name" placeholder="Enter category name">
            </div>
            <div class="mb-2">
                <input type="text"
                       class="form-control" name="description" placeholder="Enter description">
            </div>
            <div class="mb-2">
                <input type="submit" value="Save">
            </div>
            
        </form>
    </div>
</div>